#GITHUB API TOKEN
GITHUB_TOKEN=TOKEN

# OPENAI API TOKEN
OPENAI=TOKEN

# DISCORD BOT TOKEN
DISCORD_APPLICATION_TOKEN=TOKEN
# DISCORD BOT ID
DISCORD_APPLICATION_ID=ID

# PROXIES (CHOOSE ANY OF THE FOLLOWING)
PROXY_URL=https://api.codetabs.com/v1/proxy/?quest=
# PROXY_URL=https://corbypass.com/?
# PROXY_URL=https://thingproxy.freeboard.io/fetch/
# PROXY_URL=https://api.allorigins.win/get?url=