# GITHUB API TOKEN
GITHUB_TOKEN=TOKEN
GITHUB_USERNAME=HEATLabs
REPO_NAME=Website-Pixels
BRANCH_NAME=main

# OPENAI API TOKEN
OPENAI=TOKEN

# DISCORD CONFIG
DISCORD_TOKEN=TOKEN
GUILD_ID=SERVER_ID
UPDATES_CHANNEL_ID=CHANNEL_ID_AUTO_UPDATES
COMMANDS_CHANNEL_ID=CHANNEL_ID_MANUAL_UPDATES

# GOOGLE SEARCH CONSOLE CONFIG
GSC_SITE_URL=https://heatlabs.github.io/
GSC_CREDENTIALS_FILE=credentials.json

# BING WEBMASTERS CONFIG
BING_WEBMASTER_API_KEY=TOKEN

# PROXIES (CHOOSE ANY OF THE FOLLOWING)
PROXY_URL=https://api.codetabs.com/v1/proxy/?quest=
# PROXY_URL=https://corbypass.com/?
# PROXY_URL=https://thingproxy.freeboard.io/fetch/
# PROXY_URL=https://api.allorigins.win/get?url=